#home-container {
    background-color: #f0fff0; /* Light green background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.page-title {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}