#insights-container {
    background-color: #f0f8ff; /* Light blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.page-title {
    font-size: 2rem;
    color: #2196F3;
    margin-bottom: 20px;
}